.App {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: larger;
}

.statusBar {
  justify-content: left;
  align-items: left;
  text-align: left;
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  padding-bottom:4px;
  font-size: smaller;
}

.App, .statusBar {
  color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear reverse;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.square {
  font-family:cursive;
  background: #fff;
  color: #000; 
  float: left;
  padding-top:10px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:10px;
  font-size: 40pt;
  min-width: 100pt;
  min-height: 100pt;
  position: relative;
}

.board-row::after {
  clear: both;
  content: '';
  display: table;
}

.loader {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  margin-left: auto;
  margin-right: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}